{% load html_tags %}

<input class="uk-checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" type="checkbox" {% if field.value %}checked{% endif %} {% if disabled %}disabled{% endif %}>
{{ field.label }}
{% if field|is_required %}<span class="uk-text-danger">*</span>{% endif %}

{% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
{% endif %}

{% if field.errors %}
    {% for error in field.errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}
{% endif %}
