{% load html_tags %}

<div class="form-group{% if field.errors %} has-error{% endif %} {% if extra_class %}{{ extra_class }}{% endif %}">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    <div class="input-group date" data-onload-datetimepicker>
        <input autocomplete="off" type="text" id="{{ field.id_for_label }}" class="form-control" data-toggle="datetimepicker" name="{{ field.html_name }}"
               value="{{ field.value|date:"Y-m-d H:i"|default_if_none:"" }}" {% if disabled %}disabled{% endif %}>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </span>
    </div>

    {% if field.help_text %}
        <p class="help-block">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <p class="uk-text-danger">{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>