{% load html_tags %}

<label class="uk-form-label" for="{{ field.id_for_label }}">
    {{ field.label }}
    {% if field|is_required %}
        <span class="uk-text-danger">*</span>
    {% endif %}
</label>

<div class="uk-inline">
    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
    <input class="uk-input {% if field.errors %}uk-form-danger{% endif %}" id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" value="{{ field.value|default_if_none:"" }}" {% if disabled %}disabled{% endif %}>
</div>

{% if field.help_text %}
    <p class="help-text" id="{{ field.id_for_label }}_help">
        {{ field.help_text|safe }}
    </p>
{% endif %}

{% if field.errors %}
    {% for error in field.errors %}
        <p class="uk-text-danger">{{ error }}</p>
    {% endfor %}
{% endif %}
