{% load html_tags %}

{# There's no easy way to support this for Django *and* Bootstrap. So we'll do something custom here. #}
<div class="form-group{% if field.errors %} has-error{% endif %} {% if extra_class %}{{ extra_class }}{% endif %}">
    <label>
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    {{ field }}

    {% if field.help_text %}
        <p class="help-block">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
</div>