{% load html_tags %}

<label class="uk-form-label" for="{{ field.id_for_label }}">
    {{ field.label }}
    {% if field|is_required %}
        <span class="uk-text-danger">*</span>
    {% endif %}
</label>

<select class="uk-select" id="{{ field.id_for_label }}" name="{{ field.name }}" multiple>
    {% for choice in field %}{{ choice }}{% endfor %}
</select>

{% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
{% endif %}

{% if field.errors %}
    {% for error in field.errors %}
        <p class="uk-text-danger">{{ error }}</p>
    {% endfor %}
{% endif %}
