{% load html_tags %}

<label class="uk-form-label" for="{{ field.id_for_label }}">
    {{ field.label }}
    {% if field|is_required %}
        <span class="uk-text-danger">*</span>
    {% endif %}
</label>

<textarea class="uk-textarea {% if field.errors %}uk-form-danger{% endif %}" name="{{ field.html_name }}" rows="10" {% if disabled %}disabled{% endif %}>{{ field.value|default_if_none:"" }}</textarea>

{% if field.help_text %}
    <p class="help-text" id="{{ field.id_for_label }}_help">
        {{ field.help_text|safe }}
    </p>
{% endif %}

{% if field.errors %}
    {% for error in field.errors %}
        <p class="uk-text-danger">{{ error }}</p>
    {% endfor %}
{% endif %}