{% load htmgel_tags %}
{% load i18n %}

{# support for superdjango.ui.forms.ChooserWidget #}
<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {{ field }}
    <a href="#" id="{{ field.id_for_label }}_link" {# data-toggle="modal"  data-target="#{{ field.id_for_label }}_modal" #}>
        {% if field.value %}
            <i class="fas fa-search-minus"></i>
        {% else %}
            <i class="fas fa-search-plus"></i>
        {% endif %}
    </a>

    {% if field.help_text %}
        <p class="form-text text-muted">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="modal fade" id="{{ field.id_for_label }}_modal" tabindex="-1" role="dialog"
     aria-labelledby="{{ field.id_for_label }}_modal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{% trans "Choose" %} {{ field.label }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="{{ field.id_for_label }}_modal_body">
                {# Content populated by AJAX or JavaScript. #}
                ...
            </div>
            <div class="modal-footer">
                {{ field.help_text }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>