{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    <div id="{{ field.html_name }}_editor" style="width: 100%; height: 500px;">{{ field.value|default_if_none:"" }}
    </div>
    <textarea id="{{ field.id_for_label }}" style="display: none;" name="{{ field.html_name }}">{{ field.value|default_if_none:"" }}</textarea>
    {% if field.help_text %}
    <p class="form-text text-muted">
        {{ field.help_text|safe }}
        <span id="{{ field.id_for_label }}_counter" class="form-text text-muted"></span>
    </p>
    {% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
        <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>