{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    <div class="input-group date">
        <input type="text" id="{{ field.id_for_label }}" class="form-control{% if field.errors %} is-invalid{% endif %} " data-toggle="datepicker" name="{{ field.html_name }}" autocomplete="off"
               value="{{ field.value|date:"Y-m-d"|default_if_none:"" }}" {% if disabled %}disabled{% endif %}>
        <div class="input-group-append">
            <div class="input-group-text">
                <i class="fas fa-calendar"></i>
            </div>
        </div>
    </div>

    {% if field.help_text %}
        <p class="form-text text-muted" id="{{ field.id_for_label }}_help">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>