{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    <div class="input-group date" data-onload-datetimepicker>
        <input type="text"
               id="{{ field.id_for_label }}"
               class="form-control{% if field.errors %} is-invalid{% endif %}"
               data-toggle="datetimepicker"
               name="{{ field.html_name }}"
               autocomplete="off"
               {# HACK: instance and POST values were disappearing on a failed POST. #}
               {# value="{{ field.value|date:"Y-m-d H:i"|default_if_none:"" }}{{ field.value|date:"Y-m-d H:i" }}"#}
               {% if field.value == None %}
               value=""
               {% else %}
               value="{{ field.value|date:"Y-m-d H:i"|default:field.value }}"
               {% endif %}
               {% if disabled %}disabled{% endif %}>
        <!--
        <div class="input-group-append">
            <div class="input-group-text" aria-hidden="true">
                <i class="fas fa-calendar"></i>
            </div>
        </div>
        -->
    </div>

    {% if field.help_text %}
        <p class="form-text text-muted">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>