{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    <textarea id="{{ field.id_for_label }}" class="form-control markdown{% if field.errors %} is-invalid{% endif %}" name="{{ field.html_name }}" rows="10" data-simplemde-options="{}" {% if attrs %}{% include "django/forms/widgets/attrs.html" %}{% endif %}
              {% if disabled %}disabled{% endif %}>{{ field.value|default_if_none:"" }}</textarea>

    {% if field.help_text %}
        <p class="form-text text-muted">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}

</div>