{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    <input type="number"
           class="form-control{% if field.errors %} is-invalid{% endif %}"
           id="{{ field.id_for_label }}"
           name="{{ field.html_name }}"
           value="{{ field.value|default_if_none:"" }}"
           {% if disabled %}disabled{% endif %}
           >

    {% if field.help_text %}
        <p class="form-text text-muted" id="{{ field.id_for_label }}_help">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>