{% load htmgel_tags %}

{# Note: LazySelect is the widget type for django-country CountryField when {{ field }} is not used to render. #}
{# HACK: There's no easy way to support this for Django *and* Bootstrap. So we'll do something custom here. #}
<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    {{ field }}

    {% if field.help_text %}
        <p class="form-text text-muted">{{ field.help_text|safe }}</p>
    {% endif %}

    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>