{% load htmgel_tags %}
{% load i18n %}

<div class="form-row" id="id_{{ field.name }}_parent">
    <div class="col-8 form-group">
        <label for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field|is_required %}
                <span class="text-danger">*</span>
            {% endif %}
        </label>
        <div class="input-group">
            <input type="text"
                   autocomplete="off"
                   class="form-control{% if field.errors %} is-invalid{% endif %}"
                   data-toggle="datepicker"
                   id="id_{{ field.name }}_0"
                   name="{{ field.html_name }}_0"
                   placeholder="{% trans "select date" %}"
                   {% if request.POST %}
                   value="{{ field.value.0 }}"
                   {% else %}
                   value="{% if field.value == None %}{% else %}{{ field.value|date:"Y-m-d" }}{% endif %}"
                   {% endif %}
                   {% if disabled %}disabled{% endif %}>

            <div class="input-group-append">
                <div class="input-group-text" aria-hidden="true">
                    <i class="fas fa-calendar"></i>
                </div>
            </div>
        </div>

        {% if field.help_text %}

            <p class="form-text text-muted">{{ field.help_text|safe }}</p>
        {% endif %}

        {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-4 form-group">
        <label><br></label>
        <div class="input-group">
            <input type="text"
                   autocomplete="off"
                   class="form-control{% if field.errors %} is-invalid{% endif %}"
                   data-toggle="timepicker"
                   id="id_{{ field.name }}_1"
                   name="{{ field.html_name }}_1"
                   placeholder="{% trans "select time" %}"
                   {% if request.POST %}
                   value="{{ field.value.1 }}"
                   {% else %}
                   value="{% if field.value == None %}{% else %}{{ field.value|date:"h:iA" }}{% endif %}"
                   {% endif %}
                   {% if disabled %}disabled{% endif %}>
            <div class="input-group-append">
                <div class="input-group-text" aria-hidden="true">
                    <i class="fas fa-clock"></i>
                </div>
            </div>
        </div>
    </div>
</div>