{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>

    {% if prefix or suffix %}<div class="input-group">{% endif %}

    {% if prefix %}
        <div class="input-group-prepend">
            <div class="input-group-text">{{ prefix }}</div>
        </div>
    {% endif %}

    {% if field|input_type == "passwordinput" %}
        <input type="password" id="{{ field.id_for_label }}" class="form-control{% if field.errors %} is-invalid{% endif %}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:"" }}" {% if disabled %}disabled{% endif %}>
    {% else %}
        <input type="text" id="{{ field.id_for_label }}" class="form-control{% if field.errors %} is-invalid{% endif %}" name="{{ field.html_name }}" value="{{ field.value|default_if_none:"" }}" {% if field.help_text %}aria-describedby="{{ field.html_name }}-help"{% endif %} {% if disabled %}disabled{% endif %}>
    {% endif %}

    {% if suffix %}
        <div class="input-group-append">
            <div class="input-group-text">{{ suffix }}</div>
        </div>
    {% endif %}

    {% if prefix or suffix %}</div>{% endif %}

    {% if field.help_text %}
        <p class="form-text text-muted" id="{{ field.id_for_label }}_help">
            {{ field.help_text|safe }}
            <span id="{{ field.id_for_label }}_counter" class="form-text text-muted"></span>
        </p>
    {% endif %}


    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>