{% load htmgel_tags %}

<div class="form-group{% if extra_class %} {{ extra_class }}{% endif %}" id="{{ field.id_for_label }}_parent">
    <label for="{{ field.id_for_label }}" class="control-label">
        {{ field.label }}
        {% if field|is_required %}
            <span class="text-danger">*</span>
        {% endif %}
    </label>
    <textarea id="{{ field.id_for_label }}" class="form-control{% if field.errors %} is-invalid{% endif %}" name="{{ field.html_name }}" rows="10" {% if attrs %}{{ attrs }}{% endif %}
              {% if disabled %}disabled{% endif %}>{{ field.value|default_if_none:"" }}</textarea>

    {% if field.help_text %}
        <p class="form-text text-muted">
            {{ field.help_text|safe }}
            <span id="{{ field.id_for_label }}_counter" class="form-text text-muted"></span>
        </p>
    {% endif %}


    {% if field.errors %}
        {% for error in field.errors %}
            <div class="invalid-feedback" style="display: unset;">{{ error }}</div>
        {% endfor %}
    {% endif %}

</div>