{% load htmgel_tags %}

{% for fieldset in form.fieldsets %}
    <fieldset {{ fieldset.attributes }}>
        <legend>{{ fieldset.legend|default:"" }}</legend>
        {% if fieldset.description %}
            <p>{{ fieldset.description|linebreaksbr }}</p>
        {% endif %}
        {% for field in fieldset %}
            {% include "htmgel/_frameworks/bootstrap4/form_field.html"%}
        {% endfor %}
    </fieldset>
{% endfor %}
