{% load i18n %}

{% if form.non_field_errors %}
    <div class="form-non-field-errors">
        {% for message in form.non_field_errors %}
            {% include "htmgel/_frameworks/bootstrap4/alert.html" with enable_close=True %}
        {% endfor %}
    </div>
{% elif form.errors %}
    <!--
    <div class="form-errors">
        {% trans "Error" as label_x %}
        {% trans "Please correct the problems below." as message_x %}
        {% include "htmgel/_frameworks/bootstrap4/alert.html" with enable_close=True label=label_x message=message_x %}
    </div>
    -->
{% else %}
{% endif %}
