{% load i18n %}

<form class="form-{{ form_class|default:"horizontal" }}" action="{{ action }}" method="{{ method|default:"post" }}"{% if multipart %} enctype="multipart/form-data"{% endif %}>

    {% include "htmgel/_frameworks/bootstrap4/form_errors.html" %}

    {% csrf_token %}

    {% if form.has_fieldsets %}
        {% include "htmgel/_frameworks/bootstrap4/form_fieldset.html" %}
    {% else %}
        {% for field in form %}
            {% include "htmgel/_frameworks/bootstrap4/form_field.html" %}
        {% endfor %}
    {% endif %}

    {% if formsets %}
        {% for formset in formsets %}
            {% include "htmgel/_frameworks/bootstrap4/formset.html" %}
        {% endfor %}
    {% endif %}

    <div class="form-group">
        <p>
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            {% if cancel_url %}
                &nbsp; <a href="{{ cancel_url }}">{% trans "Cancel" %}</a>
            {% endif %}
        </p>
    </div>

</form>