{% load i18n %}

{% if pagination_style == "numbers" %}
    <nav aria-label="{% trans "results navigation" %}">
    <ul class="pagination">
        {% if current_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_keyword }}={{ current_page.previous_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    {% trans "Previous" %}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{% trans "Previous" %}</a>
            </li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if current_page.number == i %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">
                        {{ i }}
                    <span class="sr-only">{% trans "current" %}</span></a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?{{ page_keyword }}={{ i }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if current_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{{ page_keyword }}={{ current_page.next_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    {% trans "Next" %}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">{% trans "Next" %}</a>
            </li>
        {% endif %}
  </ul>
</nav>
{% else %}
<nav aria-label="pagination">
    <ul class="pagination">
        {# previous link #}
        {% if current_page.has_previous %}
            <li class="page-item">
                {# ugly, but allows tags and filtering to pass through pagination #}
                <a class="page-link" href="?page={{ current_page.previous_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key "page" %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    <span aria-hidden="true">&laquo;</span>
                    {% trans "Previous" %}
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                    <span aria-hidden="true">&laquo;</span>
                    {% trans "Previous" %}
                </a>
            </li>
        {% endif %}

        {# pages in between #}

        {# next link #}
        {% if current_page.has_next %}
            <li class="page-item">
                {# ugly, but allows tags and filtering to pass through pagination #}
                <a class="page-link" href="?page={{ current_page.next_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key "page" %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="{% trans "Next" %}">
                    {% trans "Next" %}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-label="{% trans "Next" %}">
                    {% trans "Next" %}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}