{% comment %}
Display an `alert box`_.

.. _alert box: https://getuikit.com/docs/alert

``enable_close`` (optional): Make the alert dissmissable.

``heading`` (optional): Display a heading instead of a label.

``label`` (optional): A label appearing before the message.

``link`` (optional): A link to be displayed as part of the message.

``link_text`` (optional): Text to display for the link. Default: "More" (translated)

``message`` (required): The message to be displayed.

``status`` (optional): The status of the message controls the context color. Default: ``danger``

{% endcomment %}
{% load i18n %}

{% trans "More" as link_text_x %}

<div class="uk-alert-{{ status|default:"danger" }}" uk-alert>
    {% if enable_close %}
        <a class="uk-alert-close" uk-close></a>
    {% endif %}

    {% if heading %}
        <h3>{{ heading }}</h3>
        <p>
            {% if label %}<b>{{ label }}</b>{% endif %}
            {{ message }}
        </p>
    {% else %}
        <p>
            {% if label %}<b>{{ label }}</b>{% endif %}
            {{ message }}
        </p>
    {% endif %}

    {% if link %}
        <a class="uk-button uk-button-primary" href="{{ link }}">{{ link_text|default:link_text_x }}</a>
    {% endif %}

</div>
