{% load i18n %}

<ul class="uk-breadcrumb">
    {% if include_home %}
        <li>
            <a href="/">{% trans "Home" %}</a>
        </li>
    {% endif %}

    {% for breadcrumb in breadcrumbs %}
        {% if forloop.last %}
            <li>
                <span>{{ breadcrumb.text }}</span>
            </li>
        {% else %}
            <li>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>