{% load i18n %}

{% trans "Submit" as submit_x %}
{% trans "Cancel" as cancel_x %}
<button class="uk-button uk-button-primary" type="submit">{{ submit_text|default:submit_x }}</button>
{% if cancel_url %}
    &nbsp; <a href="{{ cancel_url }}">{{ cancel_text|default:cancel_x }}</a>
{% endif %}
