{% load i18n %}

<form class="form-{{ form_class|default:"horizontal" }}" action="{{ action }}" method="{{ method|default:"post" }}"{% if multipart %} enctype="multipart/form-data"{% endif %}>

    {% include "htmgel/_frameworks/uikit3/form_errors.html" %}

    {% csrf_token %}

    {% if form.has_fieldsets %}
        {% for fieldset in form.fieldsets %}
            <fieldset class="uk-fieldset">
                <legend class="uk-legend">{{ fieldset.legend }}</legend>
                {% if fieldset.description %}
                    <p>{{ fieldset.description }}</p>
                {% endif %}
                {% for field in fieldset.fields %}
                    {% include "htmgel/_frameworks/uikit3/form_field.html"%}
                {% endfor %}
            </fieldset>
        {% endfor %}
    {% else %}
        {% for field in form %}
            {% include "htmgel/_frameworks/uikit3/form_field.html" %}
        {% endfor %}
    {% endif %}

    {% if formsets %}
        {% for formset in formsets %}
            {% include "htmgel/_frameworks/uikit3/formset.html" %}
        {% endfor %}
    {% endif %}

    <div class="form-group">
        <p>
            {% include "htmgel/_frameworks/uikit3/form_submit.html" %}
        </p>
    </div>

</form>