{% load i18n %}

{% if pagination_style == "numbers" %}
    <ul class="uk-pagination uk-flex-center" uk-margin>
        {% if current_page.has_previous %}
            <li>
                <a href="?{{ page_keyword }}={{ current_page.previous_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    <span uk-pagination-previous></span>
                </a>
            </li>
        {% else %}
            <li class="uk-disabled"><a href="#"><span uk-pagination-previous></span></a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if current_page.number == i %}
                <li class="uk-active">
                    <span>{{ i }}</span>
                </li>
            {% else %}
                <li>
                    <a href="?{{ page_keyword }}={{ i }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                        {{ i }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if current_page.has_next %}
            <li>
                <a href="?{{ page_keyword }}={{ current_page.next_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    <span uk-pagination-next></span>
                </a>
            </li>
        {% else %}
            <li class="uk-disabled"><a href="#"><span uk-pagination-next></span></a></li>
        {% endif %}
    </ul>
{% else  %}
    <ul class="uk-pagination">
        {% if current_page.has_previous %}
            <li>
                <a href="?{{ page_keyword }}={{ current_page.previous_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    &laquo; {% trans "Previous" %}
                </a>
            </li>
        {% else %}
            <li class="uk-disabled">
                <span>&laquo; {% trans "Previous" %}</span>
            </li>
        {% endif %}

        {% if current_page.has_next %}
            <li>
                <a href="?{{ page_keyword }}={{ current_page.next_page_number }}{% for key, value in request.GET.items %}{% ifnotequal key page_keyword %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                    {% trans "Next" %} &raquo;
                </a>
            </li>
        {% else %}
            <li class="uk-disabled">
                <span>{% trans "Next" %} &raquo;</span>
            </li>
        {% endif %}
    </ul>
{% endif %}